@import "tailwindcss";

@font-face {
    font-family: 'Techbit';
    src: url("./assets/TechbitdemoRegular-m2nAm.otf") format('opentype');
    font-style: normal;
    font-weight: 400;
}

body {
    background-color: #0b0e1c;
}

.ZaptronFont {
    font-family: 'Techbit';
}

.fade-section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}

html{
  overflow-y: scroll;  
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  height: 100%;
  margin: 0;
  padding: 0;
}

