/* @font-face {
    font-family: 'Zaptron';
    src: url("../assets/Zaptron-Regular.otf") format('opentype');
    font-style: normal;
    font-weight: 400;
}

.ZaptronFont {
    font-family: 'Zaptron';
} */
