/* Works for most browsers */
body {
  overflow: auto; /* allows scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* Chrome, Edge, Safari */
body::-webkit-scrollbar {
  display: none;
}
